openapi: 3.0.0
info:
  title: Addresses
  version: '1.0'
  description: |-
    # What are Addresses?
    Addresses represent one of the many shipping locations a customer can have. An address is created when a customer purchases a subscription. [Subscriptions](https://recharge.stoplight.io/docs/shop-docs/docs/subscriptions.md) are tied to a given address. Each customer can have multiple address objects in a many-to-one relationship. You can override shipping rates using this endpoint.
servers:
  - url: 'https://api.rechargeapps.com/addresses'
paths:
  '':
    get:
      summary: List addresses
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf: []
              examples:
                Example:
                  value:
                    addresses:
                      - address1: 1234 Main St
                        address2: ''
                        city: Austin
                        company: ReCharge
                        country: United States
                        created_at: '2020-12-08T15:36:48'
                        customer_id: 51659309
                        discounts: []
                        first_name: Mikaela
                        id: 58968398
                        last_name: Rodriguez
                        note_attributes:
                          - name: Test
                            value: value
                        order_note: Test note
                        phone: '5551234567'
                        province: TX
                        shipping_lines_override: []
                        updated_at: '2021-03-07T20:20:44'
                        zip: '78704'
                      - address1: 1776 Washington Street
                        address2: ''
                        city: Los Angeles
                        company: ReCharge
                        country: United States
                        created_at: '2020-12-08T15:31:51'
                        customer_id: 51659309
                        discounts: []
                        first_name: John
                        id: 58968100
                        last_name: Doe
                        note_attributes: null
                        order_note: null
                        phone: '5551234567'
                        province: California
                        shipping_lines_override: []
                        updated_at: '2020-12-08T15:31:51'
                        zip: '90404'
      operationId: get-addresses
      description: Retrieves a list of addresses tied to a ReCharge store.
    post:
      summary: Create an address
      tags: []
      responses: {}
      operationId: post-addresses
      description: Creates a new address for a customer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address-Request'
            examples: {}
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Address'
        description: ''
    parameters: []
  '/:id':
    get:
      summary: Retrieve an address
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      operationId: get-id
      description: Retrieves address for a customer based on ID.
    put:
      summary: Update an address
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      operationId: put-id
      description: Updates the specified address.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address-Request'
    delete:
      summary: Delete an address
      tags: []
      responses:
        '204':
          description: No Content
      operationId: delete-id
      description: Deletes the specified address.
    parameters: []
  /count:
    get:
      summary: Count addresses
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  count:
                    type: integer
      operationId: get-count
      description: Retrieves a count of addresses.
      parameters:
        - schema:
            type: string
          in: query
          name: created_at_max
          description: Returns the count of addresses created before the given time.
        - schema:
            type: string
          in: query
          name: created_at_min
          description: Returns the count of addresses created after the given time.
        - schema:
            type: string
          in: query
          name: 'discount_code '
          description: Returns the count of addresses that have the provided discount_code applied.
        - schema:
            type: string
          in: query
          name: discount_id
          description: Returns the count of addresses that have the provided discount_id applied.
        - schema:
            type: string
          in: query
          name: updated_at_max
          description: Returns the count of addresses updated before the given date.
        - schema:
            type: string
          in: query
          name: updated_at_min
          description: Returns the count of addresses updated after the given time.
  /validate:
    post:
      summary: Validate an address
      tags: []
      responses:
        '200':
          description: OK
      operationId: post-validate
      description: |-
        Checks if an address is valid.

        **NOTE:** Address validation only works with United States addresses. At this time we do not validate the `address1` attribute.
components:
  schemas:
    Address:
      description: ''
      type: object
      properties:
        address:
          type: object
          properties:
            id:
              type: number
            customer_id:
              type: number
            address1:
              type: string
              minLength: 1
            address2:
              type: string
              minLength: 1
            city:
              type: string
              minLength: 1
            company:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
            created_at:
              type: string
              minLength: 1
            discounts:
              type: array
              uniqueItems: true
              minItems: 1
              items:
                required:
                  - id
                properties:
                  id:
                    type: number
            first_name:
              type: string
              minLength: 1
            last_name:
              type: string
              minLength: 1
            note_attributes:
              type: array
              uniqueItems: true
              minItems: 1
              items:
                required:
                  - name
                  - value
                properties:
                  name:
                    type: string
                    minLength: 1
                  value:
                    type: string
                    minLength: 1
            order_note:
              type: string
              minLength: 1
            phone:
              type: string
              minLength: 1
            province:
              type: string
              minLength: 1
            shipping_lines_override:
              type: array
              uniqueItems: true
              minItems: 1
              items:
                required:
                  - code
                  - price
                  - title
                properties:
                  code:
                    type: string
                    minLength: 1
                  price:
                    type: string
                    minLength: 1
                  title:
                    type: string
                    minLength: 1
            updated_at:
              type: string
              minLength: 1
            zip:
              type: string
              minLength: 1
          required:
            - id
            - customer_id
            - address1
            - address2
            - city
            - company
            - country
            - created_at
            - discounts
            - first_name
            - last_name
            - note_attributes
            - order_note
            - phone
            - province
            - shipping_lines_override
            - updated_at
            - zip
      required:
        - address
      x-examples: {}
      title: ''
    Address-Request:
      description: ''
      type: object
      properties:
        address1:
          type: string
          minLength: 1
        address2:
          type: string
          minLength: 1
        city:
          type: string
          minLength: 1
        company:
          type: string
          minLength: 1
        country:
          type: string
          minLength: 1
        discounts:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
              - id
            properties:
              id:
                type: number
        first_name:
          type: string
          minLength: 1
        last_name:
          type: string
          minLength: 1
        note_attributes:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
              - name
              - value
            properties:
              name:
                type: string
                minLength: 1
              value:
                type: string
                minLength: 1
        order_note:
          type: string
          minLength: 1
        phone:
          type: string
          minLength: 1
        province:
          type: string
          minLength: 1
        shipping_lines_override:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
              - code
              - price
              - title
            properties:
              code:
                type: string
                minLength: 1
              price:
                type: string
                minLength: 1
              title:
                type: string
                minLength: 1
        zip:
          type: string
          minLength: 1
      required:
        - address1
        - address2
        - city
        - company
        - country
        - discounts
        - first_name
        - last_name
        - note_attributes
        - order_note
        - phone
        - province
        - shipping_lines_override
        - zip
  responses: {}
